.wrapper {
	/** main color imports */
	composes: root from "../root.css";
	box-sizing: border-box;
	margin : 0 auto;

	/* other element sizes */

	background: var(--primary-color);
	color: var(--primary-font-color);
	display: table;
}

.table_cell {
	display: table-cell;
	vertical-align: middle;
	padding: .8em;
}

.table_cell:first-child {
	border-right: 1px solid var(--other-color);
	padding-right: 1.6em;
}

.table_cell:last-child {
	padding-left: 1.6em;
}