.wrapper {
	/** main color imports */
	/* composes: root from "./root.css"; */
	box-sizing: border-box;
	margin : 0 auto;

	/* other element sizes */
	

	/* background: var(--primary-color);
	color: var(--primary-font-color); */
	padding-top: .8em;
}


.calender_wrapper {
	margin: 0 auto;
	/* month may have 6 or 5 rows, keep calender hight same for both */
	min-height: 16em;
}

.week_day_header {
	text-align: center;
	font-weight: bold;
}

.week_day_title {
	/* color: var(--primary-highlight-color); */
	padding : .5em 1em;
}

.calender_cell {
	text-align: center;
	cursor: pointer;
	/* color : var(--secondary-highlight-color); */
	font-weight: bold;
	padding : .5em;
	transition: all .2s linear;
}

/* .calender_cell_active {
	composes : calender_cell;
	background: var(--secondary-highlight-color);
	color : var(--primary-color);
} */

.calender_cell:hover {
	background: var(--calender-cell-hover-bg-color);
	color : var(--calender-cell-hover-color) !important;
}

.picker_input_wrapper {
	position: relative;
}

.picker_input {
	composes: input from "./root.css";
	text-align: center;
	/* color: var(--secondary-highlight-color) !important; */
}

.picker_model {
	position: absolute;
	left: 45%;
	z-index: 2;
}