.wrapper {
	box-sizing: border-box;
	margin : 0 auto;
	font-family: Geneva, Tahoma, Verdana, sans-serif;

	display: table;
}

.table_cell {
	display: table-cell;
	vertical-align: middle;
	padding: .8em;
}

.calender {
	padding-right: 1.6em;
}

.table_cell:last-child {
	padding-left: 1.6em;
}

.picker_input_wrapper {
	position: relative;
}

.picker_input {
	composes: input from "./root.css";
	/* 1.7 is padding in input */
	width: calc(100% - 1.7em);
	text-align: center;
	min-width: 13em;
}

.picker_model {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 2;
}

.picker_model_inside {
	margin: 0 auto;
	display: inline-block;
	margin-top: 1px;
	box-shadow: -4px 4px 44px -4px rgba(0,0,0,0.24);
	-webkit-box-shadow: -4px 4px 44px -4px rgba(0,0,0,0.24);
	-moz-box-shadow: -4px 4px 44px -4px rgba(0,0,0,0.24);
}

.picker_header_wrapper {
	position: relative;
}


.picker_header_btn {
	position: absolute;
	padding: .7em;
	right: 0;
	cursor: pointer;
}

.picker_header_btn:hover {
	text-decoration: underline;
}