.wrapper {
	box-sizing: border-box;
	margin : 0 auto;
	font-family: Geneva, Tahoma, Verdana, sans-serif;

	/* other element sizes */
	--calender-pill-size : 3em;

	padding-bottom: .8em;
	width: calc( (var(--calender-pill-size) * 7) + 1.6em);
}


.calender_wrapper {
	margin: 0 auto;
	/* month may have 6 or 5 rows, keep calender hight same for both */
	min-height: 16em;
}

.week_day_header {
	text-align: center;
	font-weight: bold;
}

.week_day_title {
	padding : .5em 1em;
}

.calender_cell {
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	padding : .5em;
	transition: all .2s linear;
}

.calender_cell:hover {
	background: var(--calender-cell-hover-bg-color);
	color : var(--calender-cell-hover-color) !important;
}

.picker_input_wrapper {
	position: relative;
}

.picker_input {
	composes: input from "./root.css";
	text-align: center;
}

.picker_model {
	position: absolute;
	left: 45%;
	z-index: 2;
}