.wrapper {
	box-sizing: border-box;
	margin : 0 auto;
	font-family: Geneva, Tahoma, Verdana, sans-serif;

	/* other element sizes */
	--calender-pill-size : 3em;

	padding-bottom: .8em;
	width: calc( (var(--calender-pill-size) * 7) + 1.6em);
}


.calender_wrapper {
	margin: 0 auto;
	/* month may have 6 or 5 rows, keep calender hight same for both */
	min-height: 16em;
}

.week_day_header {
	text-align: center;
	font-weight: bold;
}

.week_day_title {
	padding : .5em 1em;
}

.calender_cell {
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	padding : .5em;
	transition: all .2s linear;
}

.calender_cell:hover {
	background: var(--calender-cell-hover-bg-color);
	color : var(--calender-cell-hover-color) !important;
}

.picker_input_wrapper {
	position: relative;
}

.picker_input {
	composes: input from "./root.css";
	/* 1.7 is padding in input */
	width: calc(100% - 1.7em);
	text-align: center;
}

.picker_model {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 2;
}

.picker_model_inside {
	margin: 0 auto;
	display: inline-block;
	position: relative;
}

.close_icon {
	color: #000;
	position: absolute;
	right: 0;
	top: 0;
	height: 1.8em;
	width: 1.8em;
	cursor: pointer;
	transition: transform .2s linear;
}

.close_icon:hover {
	-webkit-transform: scale(1.3);
			transform: scale(1.3);
}
  
.close_icon:before {
	content: '';
	position: absolute;
	width: 1em;
	height: 0.1em;
	top: 1em;
    right: 0.6em;
	border-radius: 0.1em;
	background-color: currentColor;
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
}

.close_icon:after {
	content: '';
	position: absolute;
	width: 1em;
	height: 0.1em;
	top: 1em;
    right: 0.6em;
	border-radius: 0.1em;
	background-color: currentColor;
	-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
}