.wrapper {
	box-sizing: border-box;
	margin : 0 auto;
	font-family: Geneva, Tahoma, Verdana, sans-serif;

	display: table;
}

.table_cell {
	display: table-cell;
	vertical-align: middle;
	padding: .8em;
}

.calender {
	padding-right: 1.6em;
}

.table_cell:last-child {
	padding-left: 1.6em;
}

.picker_input_wrapper {
	position: relative;
}

.picker_input {
	composes: input from "./root.css";
	text-align: center;
	min-width: 13em;
}

.picker_model {
	position: absolute;
	z-index: 2;
}

.picker_header_wrapper {
	position: relative;
}


.picker_header_btn {
	position: absolute;
	padding: .7em;
	right: 0;
	cursor: pointer;
}

.picker_header_btn:hover {
	text-decoration: underline;
}