.wrapper {
	box-sizing: border-box;
	margin : 0 auto;
	font-family: Geneva, Tahoma, Verdana, sans-serif;

	/* other element sizes */
	--month-pill-size : 4em;
	--month-pill-margin : .3em;

	padding-top: .8em;
	width: calc( (var(--month-pill-size) * 4) + (var(--month-pill-margin) * 9) );
}

/* --------- Year Picker ------------ */

.year_show {
	font-size: 1.5em;
	text-align: center;
	padding-bottom: .4em;
}

.year_edit {
	padding-bottom: .4em;
	text-align: center;
}

.year_edit_input {
	composes: input from "./root.css";
	display: inline-block;
	text-align: center;
	width: 6em;
}

.year_edit_submit {
	cursor: pointer;
	padding : .5em;
	display: inline-block;
	transition: all .2s linear;
	border-radius: .5em;
	font-weight: bold;
	margin: 0 0.6em;
}

.year_edit_submit:hover {
	color: var(--year-edit-hover-color) !important;
	background: var(--year-edit-hover-bg-color);
}

/* --------- Month Picker ------------ */

.month_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 18.7em;
}

.month_pill_wrapper {
	display: inline-block;
	padding : .1em;
	white-space: nowrap;
	overflow: hidden;
	width: calc( (var(--month-pill-size) * 3) + (var(--month-pill-margin) * 6) );
}

.month_pill_crousel {
	transition: all .2s linear;
}

.crousel_btns {
	display: inline-block;
	cursor: pointer;
	width: calc(var(--month-pill-size)/2);
	border-radius: .8em;
	margin: var(--month-pill-margin);
	height: 1.2em;
	line-height: 1.2em;
	text-align: center;
	composes: no_select from "./root.css";
}

.month_btn {
	display: inline-block;
	cursor: pointer;
	padding : .3em 0;
	width: var(--month-pill-size);
	border-radius: .8em;
	margin: var(--month-pill-margin);
	line-height: 1.2em;
	text-align: center;
	transition: all .2s linear;
	composes: no_select from "./root.css";
}