.wrapper {
	box-sizing: border-box;
	margin : 0 auto;
	font-family: Geneva, Tahoma, Verdana, sans-serif;
}

.header {
	display: table-row;
	text-align: left;
}

.header_div {
	display: inline-block;
	margin: 1em 1.5em;
	cursor: pointer;
}

.header_label {
	font-size: .86em;
	padding-left: .5em;
	font-weight: bold;
}

.header_field_abs {
	font-size: 1em;
	min-height: 2em;
	line-height: 2em;
	padding: 0em 1em;
	border-radius: .8em;
	margin-top: .5em;
	transition: all .2s linear;
	min-width: 19em;
    text-align: center;
}

.header_field {
	composes : header_field_abs;
	background: #4dc4ca;
	color : var(--primary-color);
}

.header_field_active {
	composes : header_field_abs;
	font-weight: bold;
	background: var(--primary-color);
	color : var(--secondary-highlight-color);
}

.done_btn {
	float: right;
	margin: 1.7em 1.5em;
	padding : .4em .8em;
	border-radius: .3em;
	cursor: pointer;
	font-weight: bold;
	transition: all .2s linear;
	min-height: 2em;
	line-height: 2em;
}

.done_btn:hover {
	text-decoration: underline;
}

.advance_cell {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	min-width: 10em;
	height: 27em;
	/* min height not work on td; */
}
.advance_pill {
	cursor: pointer;
	color : #ffffffbd;
	font-weight: bold;
	padding:1em 1em .8em 1em;
	/* border-bottom: 1px solid #a2e6e369; */
	border-left: .5em solid transparent;
	transition: all .2s linear;
	min-width: 8em;
	position: relative;
}

.advance_pill::after {
	content: "";
	position: absolute;
	left: -0.5em;
	right: 0;
	bottom: 0;
	height: 1px;
	background: var(--active-pill-hover-color);
	opacity: 0.28;
}

.advance_pill:last-child::after {
	height: 0px;
}

.advance_pill_active {
	composes : advance_pill;
	border-left: .5em solid;
}

.advance_pill:hover {
	color: var(--active-pill-hover-color);
	border-left: .5em solid;
}

.table_wrapper {
	display: table;
	margin: 0 auto;
}

.picker_input_wrapper {
	position: relative;
}

.picker_input {
	composes: input from "./root.css";
	/* 1.7 is padding in input */
	width: calc(100% - 1.7em);
	text-align: center;
	min-width: 30em;
}

.picker_model {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 2;
}

.picker_model_inside {
	margin: 0 auto;
	display: inline-block;
	margin-top: 1px;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

/*
* heartbeet effect when range selection active
*/

.header_field_abs_active {
	-webkit-animation: beat 2s infinite linear;
	        animation: beat 2s infinite linear;
	-webkit-transform-origin: center;
	    -ms-transform-origin: center;
	        transform-origin: center;
}

/* Heart beat animation */
@-webkit-keyframes beat {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1)
	}
	10% {
		-webkit-transform: scale(1.04);
		        transform: scale(1.04)
	}
	20% {
		-webkit-transform: scale(1);
		        transform: scale(1)
	}
}
@keyframes beat {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1)
	}
	10% {
		-webkit-transform: scale(1.04);
		        transform: scale(1.04)
	}
	20% {
		-webkit-transform: scale(1);
		        transform: scale(1)
	}
}