.wrapper {
	box-sizing: border-box;
	margin : 0 auto;
	font-family: Geneva, Tahoma, Verdana, sans-serif;
}

.header {
	display: table-row;
	text-align: left;
}

.header_div {
	display: inline-block;
	margin: 1em 1.5em;
	cursor: pointer;
}

.header_label {
	font-size: .86em;
	padding-left: .5em;
	font-weight: bold;
}

.header_field_abs {
	font-size: 1em;
	min-height: 2em;
	line-height: 2em;
	padding: 0em 1em;
	border-radius: .8em;
	margin-top: .5em;
	transition: all .2s linear;
	min-width: 19em;
	text-align: center;
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.16);
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.16);
}

.header_field {
	composes : header_field_abs;
	background: #4dc4ca;
	color : var(--primary-color);
}

.header_field_active {
	composes : header_field_abs;
	font-weight: bold;
	background: var(--primary-color);
	color : var(--secondary-highlight-color);
}

.done_btn {
	float: right;
	margin: 1.7em 1.5em;
	padding : .4em .8em;
	border-radius: .3em;
	cursor: pointer;
	font-weight: bold;
	transition: all .2s linear;
	min-height: 2em;
	line-height: 2em;
}

.done_btn:hover {
	text-decoration: underline;
}

.advance_cell {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	min-width: 10em;
	height: 27em;
	/* min height not work on td; */
}
.advance_pill {
	cursor: pointer;
	color : #ffffffbd;
	font-weight: bold;
	padding:1em 1em .8em 1em;
	border-left: .5em solid transparent;
	transition: all .2s linear;
	min-width: 8em;
	position: relative;
}

.advance_pill::after {
	content: "";
	position: absolute;
	left: -0.5em;
	right: 0;
	bottom: 0;
	height: 1px;
	background: var(--active-pill-hover-color);
	opacity: 0.28;
}

.advance_pill:last-child::after {
	height: 0px;
}

.advance_pill_active {
	composes : advance_pill;
	border-left: .5em solid;
}

.advance_pill:hover {
	color: var(--active-pill-hover-color);
	border-left: .5em solid;
}

.table_wrapper {
	display: table;
	margin: 0 auto;
}

.picker_input_wrapper {
	position: relative;
}

.picker_input {
	composes: input from "./root.css";
	/* 1.7 is padding in input */
	width: calc(100% - 1.7em);
	text-align: center;
	min-width: 30em;
}

/**
Date range picker style
**/

.table_cell {
	display: table-cell;
	vertical-align: middle;
	padding: .8em;
}

.separator_wrapper {
	padding-left: 0;
	padding-right: 0;
	position: relative;
}

.separator_wrapper::before {
	position: absolute;
	content: "";
	height: calc(50% - 1.6em);
	border-right: 1px solid;
	top: 0;
}

.separator_wrapper::after {
	position: absolute;
	content: "";
	height: calc(50% - 1.6em);
	border-right: 1px solid;
	bottom: 0;
}

.separator_circle {
	height: 2em;
	width: 2em;
	border: 1px solid;
	border-radius: 50%;
	font-size: 1.2em;
}

.separator {
	text-align: center;
	line-height: 2em;
}

.picker_pad_left {
	padding-left: 0;
}

.picker_pad_right {
	padding-right: 0;
}