.no_select {
	-webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.input {
	border:none;
	outline: none;
	font-size: 0.9em;
	height: 2.5em;
	padding: .2em 1.2em .2em .5em;
	border-radius: 0.417em;
	background-color: #f7f7f7;
	color: #6c6b6b;
}

