.no_select {
	-webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.input {
	border:none;
	outline: none;
	font-size: 0.9em;
	height: 2.5em;
	padding: .2em 1.2em .2em .5em;
	border-radius: 0.417em;
	background-color: #f7f7f7;
	color: #6c6b6b;
}

.picker_model {
	position: absolute;
	z-index: 2;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0)
}

.picker_model_inside {
	margin: 0 auto;
	display: inline-block;
	margin-top: 1px;
	box-shadow: -4px 4px 44px -4px rgba(0,0,0,0.24);
	-webkit-box-shadow: -4px 4px 44px -4px rgba(0,0,0,0.24);
	-moz-box-shadow: -4px 4px 44px -4px rgba(0,0,0,0.24);
}