/* .root {
	font-family: Geneva, Tahoma, Verdana, sans-serif;

	--primary-color : white;
	--primary-font-color: rgba(0, 0, 0, 0.57);
	--light-font-color : rgba(0,0,0, 0.35);
	
	--secondary-color : #51ADAC;
	--other-color : #efefef;

	--primary-highlight-color : #88b04b;
	--secondary-highlight-color: #00aab2;
} */

.no_select {
	-webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.input {
	border:none;
	outline: none;
	font-size: 0.9em;
	height: 2.5em;
	padding: .2em 1.2em .2em .5em;
	border-radius: 0.417em;
	background-color: #f7f7f7;
	color: #6c6b6b;
}

