.wrapper {
	/** main color imports */
	composes: root from "../root.css";
	box-sizing: border-box;
	margin : 0 auto;

	/** clock size */
	--clock-size : 16em;
	--clock-padding : 0.8em;
	--clock-hand-height : 1.8em;

	background: var(--primary-color);
	color: var(--primary-font-color);
	padding-top: .8em;
	width: calc(var(--clock-size) + (var(--clock-padding) * 2) );
}

.title {
	color : var(--primary-highlight-color);
	text-align: center;
	font-size: 1.5em;
	padding-bottom: .4em;
}

.clockface {
	position: relative;
	padding : var(--clock-padding);
}

.clock {
	height: var(--clock-size);
	width: var(--clock-size);
	background: var(--other-color);
	border-radius: 50%;
}

.hand_wrapper {
	position: absolute;
	/* top: calc( (var(--clock-size) / 2) - (var(--clock-hand-height) / 2 ) ); */
	top: calc( (var(--clock-size) / 2) );
	/* left : calc( (var(--clock-size) / 2) + (var(--clock-hand-height) / 2 ) ); */
	width: calc(var(--clock-size) / 2);
	height: var(--clock-hand-height);
	transform-origin: left;
}

.btns {
	position: relative;
	z-index: 2;
	cursor: pointer;
	width: var(--clock-hand-height);
	height: var(--clock-hand-height);
	line-height: var(--clock-hand-height);
	text-align: center;
	display: inline-block;
	float: right;
	margin-left: .5em;
	margin-right: .4em;
	border-radius: 50%;
	transition: all .2s linear;
	transform:scale(1);
}

.hh {
	composes: btns;
}

.hh_active {
	composes: btns;
	color: var(--primary-color);
	background:  var(--secondary-highlight-color);
	transform:scale(1.2);
}

.hh:hover {
	color: var(--primary-color);
	background:  var(--secondary-highlight-color);
	transform:scale(1.2);
}

.mm {
	composes : btns;
}

.mm_active {
	composes : btns;
	color: var(--primary-color);
	background:  var(--primary-highlight-color);
	transform:scale(1.2);
}

.mm:hover {
	color: var(--primary-color);
	background:  var(--primary-highlight-color);
	transform:scale(1.2);
}

.hand {
	z-index: 1;
	pointer-events: none;
	position: absolute;
	/* top: calc( (var(--clock-size) / 2) + (var(--clock-hand-height) / 2 ) ); */
	/* top: calc( (var(--clock-size) / 2) ); NOT WORKING OLD */
	/* left : calc( (var(--clock-size) / 2) + (var(--clock-hand-height) / 2 ) ); */
	height: 1px;
	transform-origin: left;
	transition: all .2s linear;
}

.mm_hand {
	composes : hand;
	background: var(--primary-highlight-color);
	width: calc( (var(--clock-size) / 2) - var(--clock-hand-height) );
}

.hh_hand {
	composes : hand;
	background: var(--secondary-highlight-color);
	width: calc( (var(--clock-size) / 2) - (var(--clock-hand-height) * 2.5) );
}

.meridiem {
	cursor: pointer;
	position: absolute;
	bottom: .4em;
	height: 2.5em;
	line-height: 2.5em;
	width: 2.5em;
	text-align: center;
	border-radius: 50%;
	color:  var(--primary-font-color);
	background: var(--primary-color);
	transition: all .2s linear;
}

.meridiem_am {
	left: .4em;
}

.meridiem_pm {
	right: .4em;
}

.meridiem:hover {
	color:  var(--primary-color);
	background: var(--secondary-highlight-color);
}

.meridiem_active {
	composes: meridiem;
	color:  var(--primary-color);
	background: var(--secondary-highlight-color);
}