.wrapper {
	box-sizing: border-box;
	margin : 0 auto;
	font-family: Geneva, Tahoma, Verdana, sans-serif;

	/** clock size */
	--clock-size : 16em;
	--clock-padding : 0.8em;
	--clock-hand-height : 1.8em;

	padding-top: .8em;
	width: calc(var(--clock-size) + (var(--clock-padding) * 2) );
}

.title {
	text-align: center;
	font-size: 1.5em;
	padding-bottom: .4em;
}

.clockface {
	position: relative;
	padding : var(--clock-padding);
}

.clock {
	height: var(--clock-size);
	width: var(--clock-size);
	border-radius: 50%;
}

.hand_wrapper {
	position: absolute;
	top: calc( (var(--clock-size) / 2) );
	width: calc(var(--clock-size) / 2);
	height: var(--clock-hand-height);
	transform-origin: left;
}

.btns {
	position: relative;
	z-index: 2;
	cursor: pointer;
	width: var(--clock-hand-height);
	height: var(--clock-hand-height);
	line-height: var(--clock-hand-height);
	text-align: center;
	display: inline-block;
	float: right;
	margin-left: .5em;
	margin-right: .4em;
	border-radius: 50%;
	transition: all .2s linear;
	transform:scale(1) rotate(var(--font-rotation));
	composes: no_select from "./root.css";
}

.hh {
	composes: btns;
}

.mm {
	composes : btns;
}

.hh:hover, .mm:hover {
	background: var(--hover-bg-color) !important;
	color:  var(--hover-color) !important;
	transform:scale(1.2) rotate(var(--font-rotation));
}

.hand {
	z-index: 1;
	pointer-events: none;
	position: absolute;
	height: 1px;
	transform-origin: left;
	transition: all .2s linear;
}

.mm_hand {
	composes : hand;
	width: calc( (var(--clock-size) / 2) - var(--clock-hand-height) );
}

.hh_hand {
	composes : hand;
	width: calc( (var(--clock-size) / 2) - (var(--clock-hand-height) * 2.5) );
}

.meridiem {
	cursor: pointer;
	position: absolute;
	bottom: .4em;
	height: 2.5em;
	line-height: 2.5em;
	width: 2.5em;
	text-align: center;
	border-radius: 50%;
	transition: all .2s linear;
}

.meridiem_am {
	left: .4em;
	composes: no_select from "./root.css";
}

.meridiem_pm {
	right: .4em;
	composes: no_select from "./root.css";
}

.meridiem:hover {
	color:  var(--hover-color) !important;
	background: var(--hover-bg-color) !important;
}