.heading {
	padding-left: 1em;
	font-size: 5em;
	color : black;
	font-weight: bold;
	border-bottom: 2px solid black;
}

.picker-wrapper {
	text-align: center;
	padding: 30px;
}

.picker-wrapper .switch { margin-bottom: 20px }

.picker-wrapper label { font-size: 1em }


.form-wrapper {
	padding: 30px;
}

.form-wrapper .submit-btn-wrapper {
	text-align: center;
}

.demo-input-class {
	border:none;
	outline: none;
	font-size: 0.9em;
	height: 2.5em;
	padding: .2em 1.2em .2em .5em;
	border-radius: 0.417em;
	background-color: #f7f7f7;
	color: #6c6b6b;
}

.light-btn {
	background-color: white;
	color : rgba(0, 0, 0, 0.57)
}
.light-btn:hover {
	background-color: white;
}
.light-btn.active {
	-webkit-transform: scale(1.166);
	    -ms-transform: scale(1.166);
	        transform: scale(1.166);
}

.dark-btn {
	background-color : #36465D;
	color : #8897b9
}
.dark-btn:hover {
	background-color : #36465D;
}
.dark-btn.active {
	-webkit-transform: scale(1.166);
	    -ms-transform: scale(1.166);
	        transform: scale(1.166);
}

.theme-action-wrapper {
	padding-top: 0.8em;
	padding-bottom: 1em;
}

.mr-right {
	margin-right: 1.8em;
}

.code-wrapper {
	width: 100%;
	position: relative;
}

.copy-block {
	position: absolute;
	top: 0.6em;
	right: 0.6em;
	cursor: pointer;
	color: #fff;
}