.root {
	--primary-color : white;
	--primary-font-color: rgba(0, 0, 0, 0.57);
	--light-font-color : rgba(0,0,0, 0.35);
	
	--secondary-color : #51ADAC;
	--other-color : #efefef;

	--primary-highlight-color : #88b04b;
	--secondary-highlight-color: #51ADAC;
}

.no_select {
	-webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.input {
	border:none;
	outline: none;
	padding : .5em;
	font-size: 1.1em;
	border-bottom: 1px solid var(--primary-highlight-color);
}

